.font-01,
.font-01-1,
.font-01-2,
body {
  font-family: var(--font-primary-regular);
}
@font-face {
  font-family: OpenSans-Light;
  src: url(fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans-Regular;
  src: url(fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Italic;
  src: url(fonts/Open_Sans/static/OpenSans/OpenSans-Italic.ttf);
}
@font-face {
  font-family: OpenSans-Medium;
  src: url(fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf);
}
@font-face {
  font-family: OpenSans-SemiBold;
  src: url(fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: GoogleSans-Light;
  src: url(fonts/GoogleSans/GoogleSans-Light.otf);
}
@font-face {
  font-family: GoogleSans-Regular;
  src: url(fonts/GoogleSans/GoogleSans-Regular.otf);
}
@font-face {
  font-family: GoogleSans-Italic;
  src: url(fonts/GoogleSans/GoogleSans-Italic.otf);
}
@font-face {
  font-family: GoogleSans-Medium;
  src: url(fonts/GoogleSans/GoogleSans-Medium.otf);
}
@font-face {
  font-family: GoogleSans-Bold;
  src: url(fonts/GoogleSansTTF/GoogleSans-Bold.ttf);
}
:root {
  --font-primary-light: GoogleSans-Light;
  --font-primary-regular: GoogleSans-Regular;
  --font-primary-medium: GoogleSans-Medium;
  --font-primary-bold: GoogleSans-Bold;
  --font-primary-italic: GoogleSans-Italic;
  --font-secondary-light: OpenSans-Light;
  --font-secondary-regular: GoogleSans-Regular;
  --font-size-01: 14px;
  --font-size-02: 16px;
  --font-size-03: 18px;
  --font-size-04: 20px;
  --font-size-05: 22px;
  --font-size-06: 24px;
  --font-size-07: 28px;
  --font-size-08: 30px;
  --font-size-09: 40px;
  --font-size-10: 50px;
  --color-01: #62b04a;
  --color-01-1: #003e76;
  --color-02: #e82731;
  --color-03: #9fa4aa;
  --color-04: #5f666d;
  --color-05: #2f3135;
  --color-06: #f4f5f9;
  --line-height-01: 1.2;
  --line-height-02: 1.3;
  --line-height-03: 1.375;
  --line-height-04: 1.4;
  --line-height-05: 1.5;
}
a {
  color: var(--color-01);
}
.color-05 {
  color: var(--color-05);
}
a:hover {
  text-decoration: none;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  transition: 250ms;
  color: var(--color-01-1);
  text-decoration: underline;
}
p {
  margin-bottom: 18px;
}
body {
  overflow-x: hidden;
  color: #2f3135;
}
.color-white {
  color: #fff;
}
.color-black {
  color: #000;
}
.color-01,
.imp-link {
  color: var(--color-01);
}
.color-02 {
  color: var(--color-02);
}
.color-03 {
  color: var(--color-03);
}
.color-04 {
  color: var(--color-04);
}
.color-06 {
  color: var(--color-06);
}
.background-color-white {
  background-color: #fff;
}
.background-color-black {
  background-color: #000;
}
.background-color-01 {
  background-color: var(--color-01);
}
.background-color-02 {
  background-color: var(--color-02);
}
.background-color-03 {
  background-color: var(--color-03);
}
.background-color-04 {
  background-color: var(--color-04);
}
.background-color-05 {
  background-color: var(--color-05);
}
.background-color-06 {
  background-color: var(--color-06);
}
.bd-radius-01 {
  border-radius: 8px;
  overflow: hidden;
}
.bd-radius-tr-bl-01 {
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
}
.bd-radius-tr-bl-02 {
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}
.bd-radius-tr-bl-03 {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.bd-radius-tr-bl-04 {
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.bd-radius-tl-br-01 {
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.bd-radius-tl-br-02 {
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.bd-radius-tl-br-03 {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.bd-radius-tl-br-04 {
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
.font-01 {
  font-size: var(--font-size-02);
  line-height: var(--line-height-05);
}
.font-01-1 {
  font-size: var(--font-size-01);
  line-height: var(--line-height-04);
}
.font-01-2 {
  font-size: calc(var(--font-size-01) - 1px);
}
.font-02 {
  font-family: var(--font-primary-light), sans-serif;
  font-size: var(--font-size-09);
  line-height: var(--line-height-03);
}
.font-03,
.font-03-1 {
  line-height: var(--line-height-04);
  font-family: var(--font-primary-medium);
}
.font-03 {
  font-size: var(--font-size-08);
}
.font-03-1 {
  font-size: var(--font-size-06);
}
.font-04 {
  font-family: var(--font-primary-medium);
  font-size: var(--font-size-04);
}
.font-05 {
  font-family: var(--font-primary-medium);
  font-size: var(--font-size-02);
  line-height: var(--line-height-05);
}
.font-05-1 {
  font-family: var(--font-primary-medium);
  font-size: var(--font-size-03);
}
.font-06 {
  font-family: var(--font-primary-medium);
  font-size: var(--font-size-10);
}
.font-07 {
  font-family: var(--font-primary-medium);
  font-size: var(--font-size-01);
}
.text-link-01 {
  color: var(--color-01);
}
.line-height-01 {
  line-height: var(--line-height-01);
}
.line-height-02 {
  line-height: var(--line-height-02);
}
.line-height-03 {
  line-height: var(--line-height-03);
}
.line-height-04 {
  line-height: var(--line-height-04);
}
.line-height-05 {
  line-height: var(--line-height-05);
}
.imp-mb-0 {
  margin-bottom: 0;
}
.imp-mb-01 {
  margin-bottom: 40px;
}
@media (max-width: 1023.99px) {
  :root {
    --font-size-08: calc(0.75rem + 1.45vw);
    --font-size-09: calc(1.075rem + 1.5vw);
    --font-size-10: calc(1.5rem + 2vw);
  }
  .font-02 {
    --font-size-09: 32px;
  }
  .font-06 {
    --font-size-10: 45px;
  }
  .font-03 {
    --font-size-08: 22px;
  }
  .bd-radius-tr-bl-04 {
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }
  .imp-mb-01 {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .font-02 {
    --font-size-09: 7.4vw;
  }
  .font-06 {
    --font-size-10: 10vw;
  }
  .font-03 {
    --font-size-08: 5vw;
  }
}
.imp-container,
.imp-container-large,
.imp-container-sm {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.imp-btn-01,
.imp-btn-02 {
  padding: 7px 25px;
  line-height: 1.4;
  border-radius: 40px;
  overflow: hidden;
  height: fit-content;
  display: inline-block;
  text-decoration: none !important;
}
.imp-container-large {
  max-width: 1386px;
}
.imp-container,
.imp-container-md {
  max-width: 1224px;
}
.imp-container-sm {
  max-width: 924px;
}
.imp-btn-01 {
  background-color: var(--color-01);
  color: #fff;
  border-color: transparent;
  text-decoration: none !important;
}
.imp-btn-02 {
  background-color: #fff;
  color: var(--color-05);
  border: 1px solid var(--color-05);
  text-decoration: none !important;
}
.imp-disable {
  pointer-events: none;
  opacity: 60%;
}
.imp-btn-01,
.imp-btn-02,
.imp-link {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-decoration: none !important;
}
.imp-hover-01 {
  -webkit-transition: 0.5s cubic-bezier(0.17, 0.57, 0.43, 0.89);
  -moz-transition: 0.5s cubic-bezier(0.17, 0.57, 0.43, 0.89);
  transition: 0.5s cubic-bezier(0.17, 0.57, 0.43, 0.89);
}
.imp-btn-01:hover {
  background-color: #447b33;
  color: #fff;
  text-decoration: none !important;
}
@media (min-width: 1024px) {
  .imp-btn-01:hover {
    background-color: #447b33;
    color: #fff;
    text-decoration: none !important;
  }
  .imp-btn-02:hover {
    background-color: #e8ebed;
    color: currentColor;
    text-decoration: none !important;
  }
  .imp-link:hover {
    text-decoration: underline;
    color: #003e76;
  }
  .imp-hover-01:hover {
    opacity: 0.8;
  }
}
.img-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
